form {
  padding: 15px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.submit_bt {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
textarea #queryDescription {
  overflow-y: auto;
}
.form-group {
  margin-bottom: 0.5rem !important;
}
@media screen and (max-width: 600px) {
  .form-group {
    margin-bottom: 0.3rem;
  }
  label {
    margin-bottom: 0.2rem;
  }
}
.btn.btn-success[data-v-44a775b7] {
  float: right;
  margin-top: 10px;
}
.visibility {
  display: none;
}

.ready {
  background-color: #42b983 !important;
}
.in work {
  background-color: rgb(88, 218, 156);
}
.abolition {
  background-color: rgb(255, 194, 10);
}
.not_verified {
  background-color: #ddd;
}

button.visibility {
  display: none;
}
.modal-footer {
  display: none !important;
}

.logo {
  display: flex;
  padding: 5px;
}

@media screen and (min-width: 575px) {
  .col-sm-2 .col-md-1 {
    width: auto !important;
  }
}
.mr-b {
  margin-bottom: 15px;
}

.modal-backdrop {
  opacity: 0.5;
}
