<QueryModal>
  <b-modal id="modalQuery" ref="modalQuery" :key="0" hide-footer="true">

    <template v-slot:modal-header="{ close }">
      <h4>{{form.modaltitle}}</h4>
      <!--   <button type="button" class="close text-right" @click="$bvModal.show('modal-delete');" >
                      <span aria-hidden="true">&#128686;</span>
                    </button>-->

      <button type="button" class="close" aria-label="Close" @click="$bvModal.hide('modalQuery')">
        <span aria-hidden="true">&times;</span>
      </button>
    </template>

    <div class="row">

      <div class="col-6 if-available left">
        <div class="form-group">
          <label class="control-label">Статус</label>
          <b-form-select v-model="form.statusID" :options="queryStatuses" value-field="id" text-field="text">
          </b-form-select>
        </div>
      </div>
      <div class="col-6 if-available right">
        <div class="form-group">
          <label class="control-label">Пост</label>
          <b-form-select v-model="form.workPlaceID" :options="workplaces" value-field="id" text-field="title" required>
          </b-form-select>
        </div>
      </div>
    </div>

    <div class="row" style="background: rgba(209, 212, 212, 0.146)">
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Авто:</label>
          <multiselect :key="key" :show-labels="false" placeholder=""  :value="form.vehicle" @input="updateVehicleSelect" :options="vehicles"
            @search-change="asyncSearchVehicle" track-by="id" :searchable="true" :allow-empty="false"
            :internal-search="false" :multiple="false" :clear-on-select="false" :loading="isLoadingVehicle">
            <template slot="singleLabel" slot-scope="props">
              <div class="row">
                <div class="col-8">{{ props.option.vendorName }} {{ props.option.modelName }}</div>
                <div class="col-4"><b>{{ props.option.registrationNumber}}</b></div>
              </div>
            </template>
            <template slot="option" slot-scope="props">
              <div style="margin:5px;">
                <div> {{ props.option.vendorName }} {{ props.option.modelName }}</div>
                <div><b>{{ props.option.registrationNumber }}</b></div>
              </div>
            </template>
            </template>

            <span slot="noResult">За даним запитом нічого не знайдено</span>
          </multiselect>
        </div>

        <div class="form-group">
          <b-button size="sm" variant="outline-info" @click="openVehicleModal(true);"> Створити </b-button>&nbsp
          <b-button size="sm" variant="outline-secondary" v-if="form.vehicle.id > 0" @click="openVehicleModal(false);">
            Редагувати</b-button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Мастер</label>
      <b-form-select v-model="form.employeeMasterID" :options="masters" value-field="id" text-field="text" required>
      </b-form-select>
    </div>
    <!-- НЕ УДАЛЯТЬ   <div class="form-group"> <label class="control-label">Механік</label>
                  <multiselect
                  :show-labels="false"
                  placeholder=""
                  v-model="form.employee"
                  :options="mechanics"
                  label="text"
                  track-by="id">
              </multiselect> 
              </div>-->

    <!--  <div class="form-group">
                  <label class="control-label">Послуга</label>
                  <multiselect 
                  :show-labels="false"
                  v-model="form.item"
                  :options="itemCategories" 
                  label="text"
                  track-by="id"
                  placeholder=""
                  ></multiselect>
                </div> -->

    <div class="row" style="background: rgba(209, 212, 212, 0.146)">
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Замовник:</label>
          <multiselect :key="key" :show-labels="false" placeholder="" :value="form.customer" @input="updateCustomerSelect" :options="customers"
            @search-change="asyncSearchCustomer" track-by="id" :searchable="true" :allow-empty="false" 
            :internal-search="false" :multiple="false" :clear-on-select="false" :loading="isLoadingCustomer">
            <template slot="singleLabel" slot-scope="props">
              <div class="row">
                <div class="col-8">{{ props.option.fullName }}</div>
                <div class="col-4 if-available-right"><b>{{ formatedPhone(props.option.phoneNumber) }}</b></div>
              </div>
            </template>
            <template slot="option" slot-scope="props">
                <div class="row">
                    <div class="col-8">{{ props.option.fullName }}</div>
                    <div class="col-4 if-available-right"> <b>{{ formatedPhone(props.option.phoneNumber) }}</b></div>
                  </div>
            </template>


            <span slot="noResult">За даним запитом нічого не знайдено</span>
          </multiselect>
        </div>
        <div class="form-group">

          <b-button size="sm" variant="outline-info" @click="openCustomerModal(true);"> Створити </b-button>
          &nbsp<b-button size="sm" variant="outline-secondary" v-if="form.customer.id"
            @click="openCustomerModal(false);"> Редагувати</b-button>
          <!--   &nbsp<b-button size="sm" variant="outline-secondary" v-if="form.customer.id" @click="deleteCustomer">Видалити
          </b-button>-->
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-5">
        <label class="control-label">Дата</label>
        <b-form-input class="mr-b" :value="cStartDateTime" @input="stringToDateTime" type="date"></b-form-input>
      </div>
      <div class="m">
        <label class="control-label">Початок</label>
        <b-form-input class="mr-b" :value="cStartTime" @input="stringToStartTime" min="09:00" max="20:00" type="time">
        </b-form-input>
      </div>

      <div style="padding-left:12px">
        <label class="control-label">Закінчення</label>
        <b-form-input class="mr-b" :value="cEndTime" @input="stringToEndTime" min="09:00" max="20:00" type="time">
        </b-form-input>
      </div>

    </div>
    <div class="row">
      <b-alert v-model="showDismissibleAlert" variant="danger" dismissible>
        <p id="error">{{ eventModalAlert }}</p>
      </b-alert>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-12">
        <b-form-textarea v-model="form.description" placeholder="Коментар">
        </b-form-textarea>
      </div>
    </div>
    <b-button class="mt-3" variant="outline-success" block @click="saveForm(false)">Зберегти зміни</b-button>
    <b-button v-if="form.id > 0" class="mt-3" variant="outline-danger" block
      @click="$bvModal.show('modal-delete');">Видалити</b-button>
    <br>

  </b-modal>

  <b-modal id="modal-delete" title='Видалити заявку?'>
    <b-button class="mt-3" variant="outline-danger" block @click="saveForm(true),$bvModal.hide('modal-delete')">Так
    </b-button>
  </b-modal>

  <CustomerModal ref="customerModal" :isNew="isNewCustomer"></CustomerModal>
  <VehicleModal ref="vehicleModal" :isNew="isNewVehicle"></VehicleModal>
</QueryModal>